<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>contact_mail</mat-icon>
    </div>
    <mat-card-title>Complete el formulario</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field hintLabel="Rut sin puntos y sin guión" appearance="fill">
      <mat-label>Rut de Razón Social/Persona</mat-label>
      <input matInput #rut maxlength="9" placeholder="123456789" required [formControl]="validaRut"
        [(ngModel)]="personaModel.rut" [value]="personaModel.rut" [readOnly]="!isNew">
      <mat-hint align="end">{{rut.value?.length || 0}}/10</mat-hint>
      <mat-error *ngIf="validaRut.invalid">{{getErrorRut()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="lef" hintLabel="Max 30 caracteres" appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput #nombre maxlength="30" placeholder="Marcelo Gaete" required [formControl]="validaNombre"
        [(ngModel)]="personaModel.nombre" [value]="personaModel.nombre">
      <mat-hint align="end">{{nombre.value?.length || 0}}/30</mat-hint>
      <mat-error *ngIf="validaNombre.invalid">{{getErrorNombre()}}</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Max 50 caracteres" appearance="fill">
      <mat-label>Giro</mat-label>
      <textarea matInput #giro maxlength="50" placeholder="SERVICIO TÉCNICO" [(ngModel)]="personaModel.giro"
        [value]="personaModel.giro"></textarea>
      <mat-hint align="end">{{giro.value?.length || 0}}/50</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Región</mat-label>
      <mat-select name="select" [(ngModel)]="personaModel.region" (ngModelChange)="actualizaProvincia($event)" required>
        <mat-option [value]="r.id" *ngFor="let r of (regiones$ | async)">{{r.abreviatura}} - {{r.region}}</mat-option>
      </mat-select>
      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Provincia</mat-label>
      <mat-select name="select" [(ngModel)]="personaModel.provincia" (ngModelChange)="actualizaComuna($event)" required>
        <mat-option [value]="p.id" *ngFor="let p of (provincias$ | async)">{{p.provincia}}</mat-option>
      </mat-select>
      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Comuna</mat-label>
      <mat-select name="select" [(ngModel)]="personaModel.comuna" required>
        <mat-option [value]="c.id" *ngFor="let c of (comunas$ | async)">{{c.comuna}}</mat-option>
      </mat-select>
      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>

    <mat-form-field hintLabel="Max 30 caracteres" appearance="fill">
      <mat-label>Dirección</mat-label>
      <input matInput #direccion maxlength="30" placeholder="Los pistachos 2155" required
        [formControl]="validaDireccion" [(ngModel)]="personaModel.direccion" [value]="personaModel.direccion">
      <mat-hint align="end">{{direccion.value?.length || 0}}/30</mat-hint>
      <mat-error *ngIf="validaDireccion.invalid">{{getErrorDireccion()}}</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Max 9 caracteres" appearance="fill">
      <mat-label>Teléfono</mat-label>
      <input matInput #fono maxlength="9" placeholder="987654321" [formControl]="validaFono"
        [(ngModel)]="personaModel.contacto" [value]="personaModel.contacto">
      <mat-hint align="end">{{fono.value?.length || 0}}/9</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="correo@ejemplo.com" [formControl]="validaEmail" required
        [(ngModel)]="personaModel.email" [value]="personaModel.email">
      <mat-error *ngIf="validaEmail.invalid">{{getErrorEmail()}}</mat-error>
    </mat-form-field>
    <br>
    <mat-radio-group aria-label="Tipo de pesona" [(ngModel)]="personaModel.tipo" [value]="personaModel.tipo" [disabled]="!isNew">
      <mat-radio-button value="C">Cliente</mat-radio-button>
      <mat-radio-button value="P">Proveedor</mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onSubmit()">Aceptar</button>
    <button mat-button (click)="nuevaPersona()">Nueva Persona</button>
  </mat-card-actions>
</mat-card>