<div class="card">
    <div class="card-header">
        {{productoModel.nombre}}
    </div>
    <div class="card-body">
        <h5 class="card-title">Información:</h5>
        <p class="card-text">{{productoModel.descripcion}}</p>
        <p class="card-text">Stock disponible: {{productoModel.stock}}</p>
        <p class="card-text">Stock crítico: {{productoModel.stockCritico}}</p>
        <p class="card-text">Último precio de compra: {{ productoModel.precioCompra | currency : "CLP"}}</p>
        <p class="card-text">Precio de venta: {{ productoModel.precioVenta | currency : "CLP"}}</p>
        <a class="btn btn-primary {{disabled}}" (click)="asignarOpcion(2)">{{modificar}}</a>
    </div>
</div>