<form (ngSubmit)="OnSubmit()">
    <div class="form-group">
      <label>{{codigo}}</label>
      <input type="text" [readOnly]="!isNew" [ngClass]="formControlCodigo()" [(ngModel)]="servicioModel.codigo"
        (ngModelChange)="validaCodigo($event)" [value]="servicioModel.codigo" name="codigo">
      <div class="invalid-feedback">
        {{mensajeCodigo}}
      </div>
    </div>
    <div class="form-group">
      <label>{{nombre}}</label>
      <input type="text" [ngClass]="formControlNombre()" [(ngModel)]="servicioModel.nombre"
        (ngModelChange)="validaNombre($event)" [value]="servicioModel.nombre" name="nombre">
      <div class="invalid-feedback">
        {{mensajeNombre}}
      </div>
    </div>
    <div class="form-group">
      <label>{{descripcion}}</label>
      <textarea [ngClass]="formControlDescripcion()" name="descripcion" [(ngModel)]="servicioModel.descripcion"
        (ngModelChange)="validaDescripcion($event)" rows="3">{{servicioModel.descripcion}}</textarea>
      <div class="invalid-feedback">
        {{mensajeDescripcion}}
      </div>
    </div>
    <div class="form-group">
      <label>{{precioVenta}}</label>
      <input type="number" [ngClass]="formControlPrecioVenta()" name="precioVenta"
        [(ngModel)]="servicioModel.precioVenta" (ngModelChange)="validaPrecioVenta($event)"
        [value]="servicioModel.precioVenta">
      <div class="invalid-feedback">
        {{mensajePrecio}}
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-dark">{{aceptar}}</button>
      <button type="button" class="btn btn-dark" (click)="nuevoServicio()">Nuevo servicio</button>
    </div>
  </form>