.navbar-blank{
	background : #FFFFFF !important;
	
}

.menu-buttons{
	margin-left : 440px;
}

.input-group.md-form.form-sm.form-2 input {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
