<div class="container-fluid">
  <div class="form-group">
    <div class="row">
      <mat-radio-group [(ngModel)]="factura.tipo" (ngModelChange)="cambiaCompra(factura)">
        <mat-radio-button value="V">Factura de venta</mat-radio-button>
        <mat-radio-button value="C">Ingreso Insumos por factura</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="row">
      <section *ngIf="factura.tipo=='C'"> 
      <div class="col-2">
        <mat-form-field>
          <mat-label>Nro. de factura</mat-label>
          <input matInput [(ngModel)]="factura.codFactura">
        </mat-form-field>
      </div>
    </section>
      <div class="col-2">
        <mat-form-field>
          <mat-label>Fecha de factura</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="fecha">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-2">
        <section *ngIf="factura.tipo=='C'">
          <mat-form-field>
            <input type="text" placeholder="Proveedor" matInput [formControl]="myControl" [matAutocomplete]="auto"
              [(ngModel)]="factura.persona.rut" (keyup)="buscaProveedor(factura.persona.rut)">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of proveedores$ | async" [value]="option.rut">
                {{option.rut}} : {{option.nombre}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </section>
        <section *ngIf="factura.tipo=='V'">
          <mat-form-field>
            <input type="text" placeholder="Cliente" matInput [formControl]="myControl" [matAutocomplete]="auto"
              [(ngModel)]="factura.persona.rut" (keyup)="buscaCliente(factura.persona.rut)">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of clientes$ | async" [value]="option.rut">
                {{option.rut}} : {{option.nombre}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </section>
      </div>
    </div>
    <div class="col-7 alertMessage">
      <p *ngFor="let alert of alertas">
        <ngb-alert [type]="alert.tipo" (close)="close(alert)">{{ alert.nombre }}</ngb-alert>
      </p>
    </div>
  </div>
  <div class="form-group">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" (change)="getTotalCost(factura)">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="insert">
          <th mat-header-cell *matHeaderCellDef="let row">
            <mat-checkbox [(ngModel)]="chkAll" [value]="chkAll" (ngModelChange)="selectAll()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let transaction">
            <mat-checkbox [(ngModel)]="transaction.insert">
            </mat-checkbox>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- ADD Column -->
        <ng-container matColumnDef="add">
          <th mat-header-cell *matHeaderCellDef="let row">
            <button mat-button (click)="btnClick()">
              <mat-icon>add</mat-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let transaction">
            <select *ngIf="factura.tipo=='V'" name="select" [(ngModel)]="transaction.tipo" class="form-control select"
              (ngModelChange)="asignaCantidad(transaction)">
              <option value="P"> 1-Productos </option>
              <option value="S"> 2-Servicios </option>
            </select>
          </td>
          <td mat-footer-cell *matFooterCellDef>
            <button mat-button (click)="clear()">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Item Column -->
        <ng-container matColumnDef="item">
          <th mat-header-cell *matHeaderCellDef> Código Producto </th>
          <td mat-cell *matCellDef="let transaction">
            <section *ngIf="transaction.tipo=='P'">
              <input type="text" class="form-control texto" [value]="transaction.producto.codigo"
                [(ngModel)]="transaction.producto.codigo" name="item" (keyup)="findProduct(transaction)">
            </section>
            <section *ngIf="transaction.tipo=='S'">
              <input type="text" class="form-control texto" [value]="transaction.servicio.codigo"
                [(ngModel)]="transaction.servicio.codigo" name="item" (keyup)="findService(transaction)">
            </section>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Nom. producto Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let transaction">
            <section *ngIf="transaction.tipo=='P'">
              <input readonly type="text" class="form-control texto" [value]="transaction.producto.nombre"
                [(ngModel)]="transaction.producto.nombre" name="name">
            </section>
            <section *ngIf="transaction.tipo=='S'">
              <input readonly type="text" class="form-control texto" [value]="transaction.servicio.nombre"
                [(ngModel)]="transaction.servicio.nombre" name="name">
            </section>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Cantidad Column -->
        <ng-container matColumnDef="cant">
          <th mat-header-cell *matHeaderCellDef> Cantidad </th>
          <td mat-cell *matCellDef="let transaction">
            <input [readOnly]="transaction.tipo=='S'" type="number" class="form-control numero" name="cant"
              [(ngModel)]="transaction.cantidad" [value]="transaction.cantidad">
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Disponible Column -->
        <ng-container matColumnDef="disp">
          <th mat-header-cell *matHeaderCellDef> Disponible </th>
          <td mat-cell *matCellDef="let transaction">
            <input readOnly type="number" class="form-control numero" name="cant"
              [(ngModel)]="transaction.producto.stock" [value]="transaction.producto.stock">
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Cost Column -->
        <ng-container matColumnDef="cost">
          <th mat-header-cell *matHeaderCellDef> Precio Unitario </th>
          <td mat-cell *matCellDef="let transaction">
            <section *ngIf="factura.tipo=='V'">
              <section *ngIf="transaction.tipo=='P'">
                <input readonly type="number" class="form-control numero" [(ngModel)]="transaction.producto.precioVenta"
                  name="cost" value="{{transaction.producto.precioVenta}}">
              </section>
              <section *ngIf="transaction.tipo=='S'">
                <input readonly type="number" class="form-control numero" [(ngModel)]="transaction.servicio.precioVenta"
                  name="cost" value="{{transaction.servicio.precioVenta}}">
              </section>
            </section>
            <section *ngIf="factura.tipo=='C'">
              <input type="number" class="form-control numero" [(ngModel)]="transaction.producto.precioCompra"
                name="cost" value="{{transaction.producto.precioCompra}}">
            </section>
          </td>
          <td mat-footer-cell *matFooterCellDef>
            Monto neto
            <br>
            IVA (19%)
            <br>
            Total
          </td>
        </ng-container>

        <!-- Dcto Column -->
        <ng-container matColumnDef="dcto">
          <th mat-header-cell *matHeaderCellDef> Descuento </th>
          <td mat-cell *matCellDef="let transaction">
            <input type="number" class="form-control numero" name="dcto" [(ngModel)]="transaction.dcto"
              [value]="transaction.dcto">
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Subtotal Column -->
        <ng-container matColumnDef="subtotal">
          <th mat-header-cell *matHeaderCellDef> Subtotal </th>
          <td mat-cell *matCellDef="let transaction">
            <label>{{getSubtotal(factura, transaction) | currency:'CLP'}}</label>
          </td>
          <td mat-footer-cell *matFooterCellDef>
            {{getNetAmount(factura) | currency : 'CLP'}}
            <br>
            {{getIVA(factura) | currency : 'CLP'}}
            <br>
            {{getTotalCost(factura) | currency : 'CLP'}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
      </table>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-dark" (click)="OnSubmit()">Confirmar</button>
  </div>
</div>