.example-container {
  height: 270px;
  overflow: auto;
}

table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}

.texto {
  max-width: 250px;
}

.numero {
  max-width: 110px;
}

.select {
  max-width: 140px;
}

.alertMessage {
  position: fixed;
  top: 30%;
  left: 80%;
  width: 400px;
  margin-left: -150px;
  margin-top: -100px;
  text-align: left;
  z-index: 99999; 
  border-radius: 0px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
