<div class="container-fluid">
  <div class="form-group">
    <div class="row">
      <mat-radio-group [(ngModel)]="factura.tipo">
        <mat-radio-button value="C">Factura de compra</mat-radio-button>
        <mat-radio-button value="V">Factura de venta</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="row">
      <div class="col-2">
        <mat-form-field>
          <mat-label>Nro. de factura</mat-label>
          <input matInput [(ngModel)]="factura.codFactura">
          <mat-error>
            Ingrese <strong>nro. de factura</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field>
          <mat-label>{{getTipoPersona()}}</mat-label>
          <input matInput [(ngModel)]="factura.persona.rut">
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field>
          <mat-label>Fecha de factura</mat-label> 
          <input matInput [matDatepicker]="picker" [(ngModel)]="fecha">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="col-7 alertMessage">
      <p *ngFor="let alert of alertas">
        <ngb-alert [type]="alert.tipo" (close)="close(alert)">{{ alert.nombre }}</ngb-alert>
      </p>
    </div>
  </div>
  <div class="form-group">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" (change)="getTotalCost(factura)">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="insert">
          <th mat-header-cell *matHeaderCellDef="let row">
            <mat-checkbox [(ngModel)]="chkAll" [value]="chkAll" (ngModelChange)="selectAll()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let transaction">
            <mat-checkbox [(ngModel)]="transaction.insert">
            </mat-checkbox>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- ADD Column -->
        <ng-container matColumnDef="add">
          <th mat-header-cell *matHeaderCellDef="let row">
            <button mat-button (click)="btnClick()">
              <mat-icon>add</mat-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let transaction"></td>
          <td mat-footer-cell *matFooterCellDef>
            <button mat-button (click)="clear()">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Item Column -->
        <ng-container matColumnDef="item">
          <th mat-header-cell *matHeaderCellDef> Código Producto </th>
          <td mat-cell *matCellDef="let transaction">
            <input type="text" class="form-control texto" [value]="transaction.producto.codigo" [(ngModel)]="transaction.producto.codigo"
              name="item" (keyup)="findProduct(transaction)">
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Cod. producto Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let transaction">
            <input readonly type="text" class="form-control texto" [value]="transaction.producto.nombre"
              [(ngModel)]="transaction.producto.nombre" name="name">
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Cantidad Column -->
        <ng-container matColumnDef="cant">
          <th mat-header-cell *matHeaderCellDef> Cantidad </th>
          <td mat-cell *matCellDef="let transaction">
            <input type="number" class="form-control numero" name="cant" [(ngModel)]="transaction.cantidad"
              [value]="transaction.cantidad">
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Cost Column -->
        <ng-container matColumnDef="cost">
          <th mat-header-cell *matHeaderCellDef> Precio Unitario </th>
          <td mat-cell *matCellDef="let transaction">
            <section *ngIf="factura.tipo=='V'">
              <input readonly type="number" class="form-control numero" [(ngModel)]="transaction.producto.precioVenta"
              name="cost" value="{{transaction.producto.precioVenta}}">
            </section>
            <section *ngIf="factura.tipo=='C'">
              <input type="number" class="form-control numero" [(ngModel)]="transaction.producto.precioCompra"
              name="cost" value="{{transaction.producto.precioCompra}}">
            </section>
          </td>
          <td mat-footer-cell *matFooterCellDef> 
            Monto neto
            <br>
            IVA (19%)
            <br>
            Total
          </td>
        </ng-container>

        <!-- Dcto Column -->
        <ng-container matColumnDef="dcto">
          <th mat-header-cell *matHeaderCellDef> Descuento </th>
          <td mat-cell *matCellDef="let transaction">
            <input type="number" class="form-control numero" name="dcto" [(ngModel)]="transaction.dcto"
              [value]="transaction.dcto">
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Subtotal Column -->
        <ng-container matColumnDef="subtotal">
          <th mat-header-cell *matHeaderCellDef> Subtotal </th>
          <td mat-cell *matCellDef="let transaction">
            <label>{{getSubtotal(factura, transaction) | currency:'CLP'}}</label>
          </td>
          <td mat-footer-cell *matFooterCellDef> 
            {{getNetAmount(factura) | currency : 'CLP'}}
            <br>
            {{getIVA(factura) | currency : 'CLP'}}
            <br>
            {{getTotalCost(factura) | currency : 'CLP'}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
      </table>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-dark" (click)="OnSubmit()">Confirmar</button>
  </div>
</div>