
<div class="container-fluid">
    <div class="form-group">
        <div class="row">
            <div class="col-2">
                <label>Nro. de factura</label>
                <input type="text" class="form-control">
                <div class="invalid-feedback"> 
                </div>
            </div>
            <div class="col-2">
                <label>Proveedor</label>
                <input type="text" class="form-control">
                <div class="invalid-feedback"> 
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
              <!-- Checkbox Column -->
              <ng-container matColumnDef="insert">
                <th mat-header-cell *matHeaderCellDef="let row">   
                    <mat-checkbox [(ngModel)]="chkAll" [value]="chkAll" (ngModelChange)="selectAll()">
                    </mat-checkbox>
                    <button mat-button (click)="btnClick()">
                        <mat-icon>add</mat-icon>
                    </button>   
                </th>
                <td mat-cell *matCellDef="let transaction"> 
                    <mat-checkbox [(ngModel)]="transaction.insert" (click)="$event.stopPropagation()">
                    </mat-checkbox>
                </td>
                <td mat-footer-cell *matFooterCellDef> 
                    <button mat-button (click)="clear()">
                        <mat-icon>delete</mat-icon>
                    </button>  
                </td>
              </ng-container> 
              <!-- Item Column -->
              <ng-container matColumnDef="item">
                <th mat-header-cell *matHeaderCellDef> Item </th>
                <td mat-cell *matCellDef="let transaction"> 
                    <div class="col-9">
                        <input type="text" class="form-control" [value]="transaction.item"
                        [(ngModel)]="transaction.item" name="item">
                    </div>
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let transaction"> 
                    <div class="col-8">
                        <label>{{transaction.name}}</label>
                    </div>
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <ng-container matColumnDef="cant">
                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let transaction"> 
                    <div class="col-8">
                        <input type="text" class="form-control" name="cant"
                        [(ngModel)]="transaction.cant" [value]="transaction.cant">
                    </div>
                </td>
                <td mat-footer-cell *matFooterCellDef>  Total </td>
              </ng-container>
          
              <!-- Cost Column -->
              <ng-container matColumnDef="sellcost">
                <th mat-header-cell *matHeaderCellDef> Precio de compra </th>
                <td mat-cell *matCellDef="let transaction"> 
                    <div class="col-8"> 
                        <input type="text" class="form-control" 
                        [(ngModel)]="transaction.cost" name="cost"
                        value="{{transaction.cost}}">
                    </div>
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>
              
              <!-- Cost Column -->
              <ng-container matColumnDef="cost">
                <th mat-header-cell *matHeaderCellDef> Precio de compra </th>
                <td mat-cell *matCellDef="let transaction"> 
                    <div class="col-8">
                        <input type="text" class="form-control" 
                        [(ngModel)]="transaction.cost" name="cost"
                        value="{{transaction.cost}}">
                    </div>
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <ng-container matColumnDef="subtotal">
                <th mat-header-cell *matHeaderCellDef> Subtotal </th>
                <td mat-cell *matCellDef="let transaction"> 
                    <label>{{transaction.cost * transaction.cant}}</label> 
                </td>
                <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="select(row)"></tr>
              <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
            </table>
          </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-dark" (click)="btnClick()">Confirmar</button> 
    </div>
</div>
